.diceDiv {
    width: 18rem;
    height: 6rem;
}

.diceImg {
    position: relative;
    left: 0;
    max-width: 4rem;
    max-height: 4rem;
}

h1 {
    text-align: center;
}

/* #board{

} */

.hideImg {
    display: none;
}

.hover {
    border: 5px solid red;
}

table {
    border-spacing: 1rem .25rem;
    border-collapse: separate;
    margin-left: auto;
    margin-right: auto;
}

tbody {
    border: 5px solid black;
}

thead,
tfoot {
    border: 5px solid grey;
}

td {
    height: 4.5rem;
    width: 6rem;
    text-align: center;
    background-color: black;
}

.total {
    border: 5px solid grey;
    background-color: grey;
}