h1,
h2 {
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    position: relative;
}

.user-section {
    display: flex;
    justify-content: space-between;
}

.user-info,
.user-record,
.player-icon,
.play-button {
    width: 30%;
    text-align: center;
}

.user-info {
    margin-bottom: 40px;
}

.user-info button {
    margin-top: 10px;
}

img {
    max-width: 50px;
}

.play-button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
}